# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
StandUpApp.Api/[Dd]ebug/
StandUpApp.Api/[Dd]ebugPublic/
StandUpApp.Api/[Rr]elease/
StandUpApp.Api/[Rr]eleases/
StandUpApp.Api/x64/
StandUpApp.Api/x86/
StandUpApp.Api/build/
StandUpApp.Api/bld/
StandUpApp.Api/bin/
StandUpApp.Api/Bin/
StandUpApp.Api/obj/
StandUpApp.Api/Obj/

# Visual Studio 2015 cache/options directory
.vs/
/wwwroot/dist/
