<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/71f7256a-34ec-4e2d-b7c8-dd201096a1e0/resourceGroups/StandUpApp/providers/Microsoft.Web/sites/StandUpApp-Api</ResourceId>
    <ResourceGroup>StandUpApp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://standupapp-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>standupapp-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>StandUpApp-Api</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$StandUpApp-Api</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>